/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
    height: 100%;
    
    font-family: 'Karla', sans-serif; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

body {
    min-height: 100%;    
}

.logo {
    width: 160px;
    margin-bottom: $inuit-base-spacing-unit--small;
}

.header {
    position: fixed;

    width: 100%;

    background-color: $inuit-base-background-color; 
}

.highlight:hover {
    color: rgb(255, 0, 255);
}

.play {
    display: inline-block;
    vertical-align: middle;

    &:hover {
        cursor: pointer;
    }
}

form {
    max-width: 800px;
    margin: 0 auto;
    
    margin-top: $inuit-base-spacing-unit;
}

.quote {
    background-color: $inuit-base-background-color;
    border: 0;
    width: 100%;
    margin-bottom: $inuit-base-spacing-unit--small;

    font-size: 28px;

    &:focus {
        outline: 0;
    }
}

.page-section {
    margin: 0 auto;

    max-width: 1008px;

    padding-top: 100px;
    padding-right: $inuit-base-spacing-unit;
    padding-bottom: 50vh;
    padding-left: $inuit-base-spacing-unit;
}

a {
    color: $inuit-base-text-color;
}


p {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: $inuit-base-spacing-unit--small;
}
