/*------------------------------------*\
    #NAV
\*------------------------------------*/

.nav {
	display: none;

	width: 100vw;
	background-color: $inuit-base-background-color; 

	@media screen and (min-width: 600px) {
		display: block;

	    height: 48px;
	    width: 100%;

	    text-align: right;
	}
}

.nav--active {
	display: block;
}

.nav__button {
	display: block;

	@media screen and (min-width: 600px) {
		display: none;
	}

	padding-top: $inuit-base-spacing-unit;
	padding-left: $inuit-base-spacing-unit;

	&:hover {
		cursor: pointer;
	}

	background-color: $inuit-base-background-color; 
}

.nav__list-item { 
	@media screen and (min-width: 600px) {
		display: inline-block;

		&:first-of-type {
			float: left;
		}
	}
}

.nav__item {
	display: block;
	@media screen and (min-width: 600px) {
		display: inline-block;

		padding-left: $inuit-base-spacing-unit--small;
	}

	text-decoration: none;
	padding-top: $inuit-base-spacing-unit--small;
	padding-right: $inuit-base-spacing-unit--small;
	padding-bottom: $inuit-base-spacing-unit--small;
	padding-left: $inuit-base-spacing-unit;

	&:hover {
		text-decoration: underline;
	}
}