/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/

$inuit-enable-margins: true;

// Colour
$burton-red: #88221E;
$burton-gold: #BC9840;

$white: #fff;


// High-level base settings.
$inuit-base-text-color: #bfbfbf;
$inuit-base-background-color: #212121;


$inuit-btn-background:      $inuit-base-background-color;
$inuit-btn-color:           $inuit-base-text-color;
$inuit-btn-border-width:    0;
$inuit-btn-border-style:    solid;
$inuit-btn-border-color:    #fff;
$inuit-btn-radius:          0;


$inuit-heading-size-6: 12px;